<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<Instances>
		<Instance name="Przenosnik15">
			<OperationMode>auto</OperationMode>
			<ListeningPort>503</ListeningPort>
			<ConnectionType>RtuOverTcp</ConnectionType>
			<RtuSettings>
				<IpAddress>127.0.0.1</IpAddress>
				<Port>502</Port>
			</RtuSettings>
			<SlaveDeviceList>
				<Slave>
					<UnitId>1</UnitId>
					<Description>Description1</Description>
				</Slave>
				<Slave>
					<UnitId>2</UnitId>
					<Description>Description2</Description>
				</Slave>
				<!--<Slave>
					<UnitId>3</UnitId>
					<Description>Description3</Description>
				</Slave> -->
			</SlaveDeviceList>
			<ClientWhiteList>
				<!--R - tylko odczyt, W - odczyt i zapis -->
				<Client>
					<IpAddress>192.168.1.10</IpAddress>
					<Permission>W</Permission>
				</Client>
				<Client>
					<IpAddress>127.0.0.1</IpAddress>
					<Permission>W</Permission>
				</Client>
			</ClientWhiteList>
		</Instance>
		
		<Instance name="Przenosnik14">
			<OperationMode>auto</OperationMode>
			<ListeningPort>502</ListeningPort>
			<ConnectionType>COM</ConnectionType>
			<RtuSettings>
				<PortName>COM1</PortName>
				<BaudRate>9600</BaudRate>
				<Parity>None</Parity>
				<StopBits>1</StopBits>
				<DataBits>8</DataBits>
			</RtuSettings>
			<SlaveDeviceList>
				<Slave>
					<UnitId>1</UnitId>
					<Description>Description1</Description>
				</Slave>
				<Slave>
					<UnitId>2</UnitId>
					<Description>Description2</Description>
				</Slave>
			</SlaveDeviceList>
			<ClientWhiteList>
				<Client>
					<IpAddress>192.168.1.10</IpAddress>
					<Permission>W</Permission>
				</Client>
				<Client>
					<IpAddress>127.0.0.1</IpAddress>
					<Permission>R</Permission>
				</Client>
			</ClientWhiteList>
		</Instance>
	</Instances>
</Configuration>



<!--
<RegisterMapping>
		 Tryb mapowania rejestrów: 
         Auto  - mapowanie 1:1,
         Learning - automatyczne tworzenie rejestrów na podstawie przychodzących danych,
         Manual - ręcznie skonfigurowana lista rejestrów
		<Mode>Auto</Mode>
		<MappingDetails>
			 W zależności od wybranego trybu możesz tu dodać szczegółowe ustawienia.
           Przykład dla trybu Manual:
      <Register id="1" slave="1" />
      <Register id="2" slave="1" />
     
		</MappingDetails>
	</RegisterMapping>

-->